@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="text-center">Mira nuestros cursos profesionales en: <a href="https://render2web.com/cursos">www.render2web.com/cursos</a></div>
</div>
